
@{
    ViewBag.Title = "ClubAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Social Club</label>
        <input type="text" class="form-control" name="socialClubName" />
    </div>
    <div style="margin-top:10px">
        <button class="btn btn-success">SAVE</button>
    </div>
</form>