USE [master]
GO
/****** Object:  Database [Db_MVC_School]    Script Date: 11/10/2024 9:48:07 PM ******/
CREATE DATABASE [Db_MVC_School]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Db_MVC_School', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Db_MVC_School.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Db_MVC_School_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Db_MVC_School_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Db_MVC_School].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Db_MVC_School]
GO
/****** Object:  Table [dbo].[tblCourses]    Script Date: 11/10/2024 9:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCourses](
	[courseId] [tinyint] IDENTITY(1,1) NOT NULL,
	[courseName] [varchar](50) NULL,
 CONSTRAINT [PK_tblCourse] PRIMARY KEY CLUSTERED 
(
	[courseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblScores]    Script Date: 11/10/2024 9:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblScores](
	[scoreId] [int] IDENTITY(1,1) NOT NULL,
	[courseId] [tinyint] NULL,
	[stdId] [int] NULL,
	[exam1] [tinyint] NULL,
	[exam2] [tinyint] NULL,
	[exam3] [tinyint] NULL,
	[assignment] [tinyint] NULL,
	[average] [decimal](18, 2) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_tblScores] PRIMARY KEY CLUSTERED 
(
	[scoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSocialClubs]    Script Date: 11/10/2024 9:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSocialClubs](
	[socialClubId] [tinyint] IDENTITY(1,1) NOT NULL,
	[socialClubName] [varchar](50) NULL,
	[socialClubQuota] [smallint] NULL,
 CONSTRAINT [PK_tblSocilaClubs] PRIMARY KEY CLUSTERED 
(
	[socialClubId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStudents]    Script Date: 11/10/2024 9:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStudents](
	[stdId] [int] IDENTITY(1,1) NOT NULL,
	[stdNameSurname] [varchar](50) NULL,
	[stdImage] [varchar](max) NULL,
	[stdGender] [varchar](5) NULL,
	[stdSocialClub] [tinyint] NULL,
 CONSTRAINT [PK_tblStudents] PRIMARY KEY CLUSTERED 
(
	[stdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblScores] ADD  CONSTRAINT [DF_tblScores_exam1]  DEFAULT ((0)) FOR [exam1]
GO
ALTER TABLE [dbo].[tblScores] ADD  CONSTRAINT [DF_tblScores_exam2]  DEFAULT ((0)) FOR [exam2]
GO
ALTER TABLE [dbo].[tblScores] ADD  CONSTRAINT [DF_tblScores_exam3]  DEFAULT ((0)) FOR [exam3]
GO
ALTER TABLE [dbo].[tblScores] ADD  CONSTRAINT [DF_tblScores_assignment]  DEFAULT ((0)) FOR [assignment]
GO
ALTER TABLE [dbo].[tblScores] ADD  CONSTRAINT [DF_tblScores_average]  DEFAULT ((0)) FOR [average]
GO
ALTER TABLE [dbo].[tblScores] ADD  CONSTRAINT [DF_tblScores_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[tblSocialClubs] ADD  CONSTRAINT [DF_tblSocialClubs_socialClubQuota]  DEFAULT ((0)) FOR [socialClubQuota]
GO
ALTER TABLE [dbo].[tblScores]  WITH CHECK ADD  CONSTRAINT [FK_tblScores_tblCourses] FOREIGN KEY([courseId])
REFERENCES [dbo].[tblCourses] ([courseId])
GO
ALTER TABLE [dbo].[tblScores] CHECK CONSTRAINT [FK_tblScores_tblCourses]
GO
ALTER TABLE [dbo].[tblScores]  WITH CHECK ADD  CONSTRAINT [FK_tblScores_tblStudents] FOREIGN KEY([stdId])
REFERENCES [dbo].[tblStudents] ([stdId])
GO
ALTER TABLE [dbo].[tblScores] CHECK CONSTRAINT [FK_tblScores_tblStudents]
GO
ALTER TABLE [dbo].[tblStudents]  WITH CHECK ADD  CONSTRAINT [FK_tblStudents_tblSocilaClubs] FOREIGN KEY([stdSocialClub])
REFERENCES [dbo].[tblSocialClubs] ([socialClubId])
GO
ALTER TABLE [dbo].[tblStudents] CHECK CONSTRAINT [FK_tblStudents_tblSocilaClubs]
GO
USE [master]
GO
