
@{
    ViewBag.Title = "CourseAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Course Name</label>
        <input type="text" class="form-control" name="courseName"/>
    </div>
    <div style="margin-top:10px">
        <button class="btn btn-success">SAVE</button>
    </div>
</form>